.sec1{
    .hm{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            border-color: #687389 transparent transparent transparent;
            border-width: 8px;
            border-style: solid;
            right: 28px;
            top: 100%;
        }
    }
}
@media only screen and (max-width: 600px){
    .sec1{
        .firstxt{
            font-size: 20px !important;
            width: 100% !important;
        }
        .search{
            width: 40% !important;
        }
        .navbar{
            .container-fluid{
                  height: 300px;
                  display: flex !important;
                  flex-direction: column !important;

            }
        }
    }
}

.sec2{
    width: 100%;
    height: 600px;
    display: flex;
    background-image:url(../img/bg-white-3.png);
    
    align-items: center;
      .container-fluid{
        width: 95%;
        height: 500px;
        
         
                .head{
                    border: 15px solid #687389;
                    border-top: none;
                    border-bottom: none;
                    border-right: none;
                    margin-bottom: 15px;
                     h5{
                        font-size: 20px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                     }
                     h1{
                        font-size: 30px;
                        font-weight: bold;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                     }
                     h1,h5{
                        margin-left: 10px;
                     }
                   }
    
                   .into{
                    height: auto;
                    
                       .row{
                         .card{ 
                            .image{
                                position: relative;
                                
                                .text{
                                    width: 100%;
                                    position: absolute;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    justify-content: center;
                                    background-color: rgba(0, 0, 0, 0.329);
                                    
                                    
                                    
                                    height: 205px;
                                    .container{
                                        width: 100%;
                                          height: 180px;
                                        .contain{
                                            height: 180px;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;
                                            align-items: center;
                                            
                                         
                                            .link{
                                                width: 90%;
                                                display: flex;
                                                justify-content: space-between;
                                            }
                                            .cost{
                                                width: 90%;
                                                display: flex;
                                                justify-content: space-between;
                                            
                
                                            }
                                        }
                                    }
                                }
                            }
                            
                         }
    
                       }
                   }
            
           }
      }
      @media only screen and (max-width: 600px){
        .sec2{
            height: 2200px;
           .container-fluid{
            width: 85%;
            height: 2000px;
            .card{
                width: 100% !important;
                .text{
                    height: 307px !important;
                }
            }
            .cost{
                width: 100% !important;
            }
           }
                

            
        }
      }
      .sec3{
        width: 100%;
        height: 550px;
        display: flex;
        align-items: center;
          .container-fluid{
            width: 95%;
            height:500px;

                 .head{height: 70px;
                    border: 15px solid #687389;
                    border-right: none;
                    border-bottom: none;
                    border-top: none;
                    margin-bottom: 20px;
                    
                    h5{
                       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                       font-size: 25px;
                    }
                    h1{
                        font-size: 40px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        color: #687389;
                    }
                    h5,h1{
                        margin-left: 10px;
                    }
                 }

                 .inside{
                  height: auto;
                    .text{ transition: 0.5s;
                         &:hover{
                            -ms-transform: scale(1); /* IE 9 */
                            -webkit-transform: scale(1.3); /* Safari 3-8 */
                             transform: scale(1.3); 
                             overflow:hidden;
                           }
                    }

                    
                 }
          }
      }
      @media only screen and (max-width: 600px){
        .sec3{
            height: 2000px;
            .container-fluid{
                height: 2000px;
                width: 100%;
                img{
                    width:100% !important;
                   
                }
                .title{
                    width:95% !important;
                    display: flex !important;
                    justify-content: center !important;
                }
                .text{
                    .text{ transition: 0.5s;
                        &:hover{
                           -ms-transform: scale(1); /* IE 9 */
                           -webkit-transform: scale(1.3); /* Safari 3-8 */
                            transform: scale(1.3); 
                            overflow:hidden;
                          }
                   }
                }
            }
        }
      }
        
      .sec5{
        width: 100%;
        height: 350px;
        background-image: url(../img/bg-white-3.png);
        .container-fluid{
            width: 90%;
              position: relative;
            
                  .card-group{
                       position: absolute;
                       bottom: -200px;
                       box-shadow: 5px 36px 19px -10px rgba(0,0,0,0.4);
                  }
              
        }
      }
      @media only screen and (max-width: 600px){
        .sec5{
            height: 800px;
            height: 400px;
        }
      }
.sec6{
    background-image: url(../img/bg-white-3.png);
    height: 500px;
     .container-fluid{
        width: 95%;
        .head{
            border: 15px solid #687389 ;
            border-bottom: none;
            border-top: none;
            border-right: none;
           
            
            h5{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 20px;
                font-weight: bold;

            }
            h1{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: bold;
                color:#687389;
                font-size: 30px;
            }
            h5,h1{
                margin-left: 10px ;
            }
        }  
        .into{
            margin-top: 35px;
            .card{
                position: relative;
           
                -webkit-box-shadow: -1px 0px 20px 5px rgba(0,0,0,0.28); 
                box-shadow: -1px 0px 20px 5px rgba(0,0,0,0.28);
               
                 .text{
                    position: absolute;
                    i{
                        font-size: 35px;
                        cursor: pointer;
                    }
                 }
            }

        }
        
     }
}
@media only screen and (max-width: 600px){
    .sec6{
        height: 1000px;
        .container-fluid{
            width: 95%;
        }
    }
}
.sec7{
    height: 400px;
    display: flex;
    align-items: center;
    .container-fluid{
        height: 340px;
        

        .part2{
            height: 350px;
            
            .nvgtn{
                height: 300px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                .head{
                    border: 3px solid #687389 ;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    width:17%;
                    
                    h1{ font-size: 20px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }
                .into{
                    width: 80%;
                    height: 200px;
                    .menu1{
                        height: 200px;
                        ul{
                            height: 280px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            li{
                                
                                a{
                                    color: black;
                                    text-decoration: none;
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                }
                            }
                        }
                    }
                    .menu2{
                        height: 200px;
                        ul{
                            height: 280px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            li{
                                a{
                                    color: black;
                                    text-decoration: none;
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                }
                            }

                        }
                    }
                }
            }
        }
        .part3{
            height: 350px;
            .twtr{ height: 350px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                .head{ 
                    h1{font-size: 20px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        margin-bottom: 10px;

                    }
                    .line{
                        border: 3px solid #687389 ;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        width:17%;
                    }
                }
                .into{
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                      .text1{
                        height: 70px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        .link{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            line-height: 20px;
                            font-size: 15px;
                            a{
                                color: #687389;
                                text-decoration: none;
                            }
                        }
                        p{
                            color: #687389;
                            font-weight: bold;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                      }
                      .text2{
                        height: 70px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        .link{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            line-height: 20px;
                            font-size: 15px;
                            a{
                                color: #687389;
                                text-decoration: none;
                            }
                        }

                        p{
                            color: #687389;
                            font-weight: bold;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                      }
                      .text3{
                        height: 70px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                          .link{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            line-height: 20px;
                            font-size: 15px;
                            a{
                                color: #687389;
                                text-decoration: none;
                            }
                          }
                          p{
                            color: #687389;
                            font-weight: bold;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                          }
                      }
                }
                
            }
        }

        .part4{
            height: 300px;
            .letter{
                height: 350px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
            }
            .head{
                
                h1{font-size: 20px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    margin-bottom: 10px;

                }
                .line{
                    border: 3px solid #687389 ;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    width:17%;
                }
            }
            .into{
                height: 250px;
                .text{
                    height: 100px;
                    p{
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        line-height: 25px;
                    }
                }
                .input{
                    
                    input{
                        padding: 8px;
                        &::placeholder{
                            color: white;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                    }
                    button{
                        padding: 8px;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 600px){
    .sec7{
        height: 1400px;
        .container-fluid{
            height: 1300px;
        }
    }

}
.sec8{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-image: url(../img/bg-white-3.png);
         .container-fluid{
            width: 100%;
            .row{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .text{
                    width: 30%;
                    display: flex;
                    align-items: flex-end;
                    p{
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        color: #687389;
                    }
                }
                .icons{
                    width: 25%;
                    display: flex;
                    justify-content: space-evenly;
                    padding: 0;
                    align-items: flex-end;
                    .fa-facebook-f{
                        background-color: #3B5998;
                        color: white;
                        padding: 8px 12px;
                    }
                    .fa-twitter{
                        background-color: #1DA1F2;
                        color: white;
                        padding:8px 12px;
                    }
                    .fa-instagram{
                        background-color: #E1306C;
                        color:white;
                        padding:8px 12px;
                    }
                      .fa-youtube{
                        background-color: #CD201F;
                        color: white;
                        padding: 8px 12px;
                      }
                }
            }
         }
}
@media only screen and (max-width: 600px){
   .sec8{
    height: 300px;
    .container-fluid{
        width: 100%;
    }
    
   }
}